# ---- R Session files ----
.Rproj.user
.Rhistory
.RData
.Ruserdata

# ---- Credentials ----
.Renviron

# ---- Data (not versioned) ----
data/raw/
data/interim/

# ---- Outputs ----
outputs/

# ---- renv ----
renv/

# ---- windows file ----
desktop.ini
