# ---- R Session files ----
.Rproj.user
.Rhistory
.RData
.Ruserdata

# ---- Credentials ----
.Renviron

# ---- Data (not versioned) ----
data/raw/*
!data/raw/aact_capstone_raw.csv
data/interim/*
!data/interim/aact_features.csv
!data/interim/aact_features_eda.csv

# ---- Outputs ----
outputs/*
archive/*

# ---- renv ----
renv/

# ---- windows file ----
desktop.ini
